@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans&display=swap');
/* object-fit:cover */
* {
    margin: 0 auto;
    max-width: 1600px;
    padding: 0;
    box-sizing: border-box;
}
/* HEADING */

.top-design {
    display: grid;
    grid-template-rows: 30px 1fr;
}
#date {
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
}
#invite {
    text-align: center;
    padding-bottom: 10px;
}
.date-invite {
    background-color: #242b30;
    color: white;
    font-family: 'open sans';
}
.socials {
    text-align: right;
    margin: 0;
    padding: 0;
}
.name {
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 20px;
}
.name a {
    display: flex;
}
.name a img {
    width: 100%;
    height: auto;
    align-self: center;
}
header h1 {
    display: inline;
    font-size: 50px;
    width: 100%;
    font-family: 'architects daughter';
}

/* NAV BAR */




/* Hero Banner
------------------------------------------------*/
main {
    background-color: #fff3d7;
    margin: 20px auto;
    padding: 20px;
}
#index, #directory, #discover {
    font-family: 'open sans';
}
.hero-banner img {
    max-width: 100%;
    overflow: hidden;
    height: auto;
}
.join-invite {
    color: white;
    text-decoration: none;
    font-size: 35px;
    padding: 10px;
    transition: all 500ms;
    position: relative;
    top: -80px;
}
.join-invite:hover {
    font-weight: bolder;
}
/* JOIN BANNER 
-------------------------------------------------*/
.signup {
    text-decoration: none;
    color: #660708;
}
.signup:hover {
    font-weight: bolder 
}
/* WEATHER *
------------------------------------------------- */


ul {
    list-style: none;
}
/* NEWS *
------------------------------------------------- */

.news {
    width: 100%;
}
/* SPOTLIGHT *
------------------------------------------------- */
@media only screen and (max-width: 699px) {
    #index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "hb hb"
        "news news"
        "ws a"
        "ws b"
        "event join";
        width: 100%;
    }
    .spotlightc {
        display: none;
    }
}
#index {
    row-gap: 15px;
    column-gap: 15px;
}
.event, .weather-section, .news, .spotlighta, .spotlightb, .spotlightc, .join{
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    padding: 10px;

}
.spotlighta img, .spotlightb img, .spotlightc img {
    max-width: 100px;
    display: block;
}
.hero-banner {
    grid-area: hb;
    text-align: center;
}
.event {
    grid-area: event;
}
.weather-section {
    grid-area: ws;
}
.join {
    grid-area: join;
}    
.news {
    grid-area: news;
}
.spotlighta {
    grid-area: a;
} 
.spotlightb {
    grid-area: b;
}
.spotlightc {
    grid-area: c;
}
/* FOOTER */

footer {
    background-color: #660708;
    color: #f5f3f4;
    font-family: 'open sans';
}
.logo-info {
    text-align: center;

}
.logo-footer img {
    padding-top: 20px;
    margin: 0 auto;
    display: block;
    height: auto;
    width: 100px;

}
.contact {
    text-align: center;
}
.contact a {
    text-decoration: none;
    color: white;
    transition: all 500ms;
}
.contact a:hover {
    font-weight: bolder;
}
.general {
    text-align: center;
    padding: 20px 0 5px 0;
}
.general p a {
    color: white;
}
.general p a:hover {
    color: black;
}
/* DISCOVER PAGE
-----------------------------------------*/
.brighten picture img {
    display: block;
    margin: 20px auto;
    height: auto;
    max-width: 100%;
}
.brighten {
    max-width: 80%;
    padding: 20px 0 0 0;
}
.brighten p {
    padding-bottom: 50px;
}
.brighten picture img[data-src] {
    filter: blur(.2em);
}
.brighten picture img {
    filter: blur(0em);
    transition: filter 500ms;
}

/* JOIN PAGE 
------------------------------------------*/

.test label {
    float: left;
    display: block;
    margin-top: 10px;
}
.test {
    padding-bottom: 20px;
}
.membership {
    padding-bottom: 20px;
}
.membership label {
    display: block;
    margin-top: 10px;
}
.test span {
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px;
}
input {
    width: 100%;
    margin-top: 10px;
}
#join {
    border: 1px solid #ccc;
    padding: 1em;
    max-width: 600px;
}
form label.required::after {
    content: " *";
    color: red;
}
.error:not(:focus):invalid {
    border: 2px solid red;
}
label input {
    display: inline;
    width: auto;
    margin: 0;
}
textarea {
    width: 100%;
    margin-bottom: 20px;
}
/* CONTACT PAGE 
-----------------------------------------------*/

label.textareamessage {
    padding-top: 20px;
}
.visitus {
    max-width: 600px;
    padding-left: 1em;
}
.map {
    max-width: 600px;
}
iframe {
    max-width: 100%;
}