@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans&display=swap');
/* object-fit:cover */
* {
    margin: 0 auto;
    max-width: 1600px;
    padding: 0;
    box-sizing: border-box;
}
/* HEADING */

.top-design {
    display: grid;
    grid-template-rows: 30px 1fr;
}
#date {
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
}
#invite {
    /*padding-left: 120px;*/
    text-align: center;
    padding-bottom: 10px;
}
.date-invite {
    background-color: #242b30;
    color: white;
    font-family: 'open sans';
}
.socials {
    text-align: right;
    margin: 0;
    padding: 0;
}
.name {
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 20px;
}
.name a {
    display: flex;
}
.name a img {
    width: 100%;
    height: auto;
    align-self: center;
}
header h1 {
    display: inline;
    font-size: 50px;
    width: 100%;
    font-family: 'architects daughter';
}

/* NAV BAR */




/* Hero Banner
------------------------------------------------*/
main {
    background-color: #b1a7a6;
    margin: 20px auto;
}
.hero-banner img {
    max-width: 100%;
    overflow: hidden;
    height: auto;
}
.join-invite {
    background-color: #161a1d;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    transition: all 500ms;
    position: relative;
    top: -100px;
}
.join-invite:hover {
    font-weight: bolder;
}
/* WEATHER *
------------------------------------------------- */


ul {
    list-style: none;
}
/* NEWS *
------------------------------------------------- */

.news {
    width: 100%;
}

/* FOOTER */

footer {
    background-color: #660708;
    color: #f5f3f4;
    font-family: 'open sans';
}
.logo-info {
    text-align: center;

}
.logo-footer img {
    padding-top: 20px;
    margin: 0 auto;
    align-self: center;
    display: block;
    height: auto;
    width: 100px;

}
.contact {
    text-align: center;
}
.contact a {
    text-decoration: none;
    color: white;
    transition: all 500ms;
}
.contact a:hover {
    font-weight: bolder;
}
.general {
    text-align: center;
    padding: 20px 0 5px 0;
}

* {
    text-align: center;
    box-sizing: border-box;
}
.brighten picture img {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    height: auto;
}
.brighten p {
    max-width: 80%;
}
.brighten picture img[data-src] {
    filter: blur(.2em);
}
.brighten picture img {
    filter: blur(0em);
    transition: filter 500ms;
}

