@media only screen and (min-width: 1000px) {
    .checkbox, .logo {
        display: none;
    }
    .navbar .nav-container li {
        list-style: none;
        padding: 14px 16px;
    }
    .navbar .nav-container a {
        text-decoration: none;
        color: #f5f3f4;
        font-size: 30px;
        text-align: center;
    }
    .navbar .nav-container a:hover {
        font-weight: bolder;
    }
    .menu-items ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .navbar {
        background-color: #660708;
        font-family: 'architects daughter';
    }


    footer {
        display: grid;
        grid-template-columns: 200px 1fr 1fr;  
    }
    .logo-footer {
        padding: 0;
        align-self: center;
    }
    .logo-info {
        text-align: left;
    }
    .contact {
        text-align: left;
    }
    .general, .visits {
        grid-column: 1/4;
    }
    #index {
        display: grid;
        grid-template-columns: 200px 1fr 200px;
        grid-template-areas: 
        "event hb a"
        "ws hb b"
        "join news c";
        width: 100%;
    }




    .brighten {
        max-width: 600px;
    }
    .brighten picture img {
        -webkit-filter: brightness(50%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;

    }
    .brighten picture img:hover {
        -webkit-filter: brightness(100%);
    }
}