@media only screen and (min-width: 700px) and (max-width: 999px) {
    .checkbox, .logo {
        display: none;
    }
    .navbar .nav-container ul li {
        list-style: none;
        padding: 14px 16px;
    }
    .navbar .nav-container a {
        text-decoration: none;
        color: #f5f3f4;
        font-size: 30px;
        text-align: center;
    }
    .navbar .nav-container a:hover {
        font-weight: bolder;
    }
    .menu-items ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .navbar {
        background-color: #660708;
        font-family: 'architects daughter';
    }

    #index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "hb hb"
        "news news"
        "ws a"
        "ws b"
        "event join";
        width: 100%;
    }
    .spotlightc {
        display: none;
    }



    .brighten {
        max-width: 600px;
    }
    .brighten picture img {
        -webkit-filter: brightness(50%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;

    }
    .brighten picture img:hover {
        -webkit-filter: brightness(100%);
    }
}


/*#400405*/