@media only screen and (min-width: 700px) {
    .topnav a:not(:first-child) {
        display: block;
    }
    .topnav {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .topnav a {
        float: left;
        display: block;
        margin: 0 auto;
    }
    .topnav a.icon {
        display: none;
    }
    main {
        display: grid;
    }
    main:nth-child(1) {
        background-color: red;
    }
}