@media only screen and (min-width: 700px) and (max-width: 849px) {
    .topnav a:not(:first-child) {
        display: block;
    }
    .topnav {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .topnav a {
        float: left;
        display: block;
        margin: 0 auto;
    }
    .topnav a.icon {
        display: none;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
    .hero-banner, .event, .weather, .news, .spotlighta, .spotlightb{
        text-align: center;
    }
    .hero-banner {
        grid-column: 1/3;
    }
    .news {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .spotlighta, .spotlightb {
        grid-row: 3/4;
    }
}