@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    max-width: 1600px;
}
/* HEADING */

.top-design {
    display: grid;
    grid-template-rows: 30px 1fr;
}
#date {
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
}
#invite {
    /*padding-left: 120px;*/
    text-align: center;
    padding-bottom: 10px;
}
.date-invite {
    background-color: #242b30;
    color: white;
    font-family: 'open sans';
}
.socials {
    text-align: right;
    margin: 0;
    padding: 0;
}
.socials a img {
    width: 30px;
}

.name {
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 20px;
}
.name a {
    display: flex;
}
.name a img {
    width: 100%;
    align-self: center;
}
header h1 {
    display: inline;
    font-size: 50px;
    width: 100%;
    font-family: 'architects daughter';
}

/* NAV BAR */

.topnav {
    background-color: #660708;
    overflow: hidden;
    width: 100%;
    font-family: 'architects daughter';
}
.topnav a:hover {
    background-color: #400405;
    font-size: 35px;
}
.topnav a {
    color: #f5f3f4;
    text-align: center;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    transition: all 500ms;
    overflow: hidden;
}
.topnav a.active {
    float: left;
}
.topnav a:not(:first-child) {
    display: none;
}
.topnav a.icon {
    float: right;
    display: inline;
}
.topnav.responsive {
    position: relative;
}
.topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
}
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}
/*.topnav a:hover {
    background-color: ;
    color: ;
}*/
/*.topnav a.active {
    background-color: ;
    color: ;
}*/
/* Hero Banner
------------------------------------------------*/
main {
    background-color: #b1a7a6;
    margin: 20px auto;
}
.join {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    width: 80%;
}
.join img {
    max-width: 600px;
    width: 100%;
    grid-row: 1/3;
    grid-column: 1/3;
}
.join-invite {
    grid-row: 1/2;
    grid-column: 1/3;
    align-self: flex-end;
}
/* WEATHER *
------------------------------------------------- */


ul {
    list-style: none;
}

/* FOOTER */

footer {
    background-color: #660708;
    color: #f5f3f4;
    font-family: 'open sans';
}
.logo-info {
    text-align: center;

}
.logo-footer img {
    padding-top: 20px;
    width: 100px;
    margin: 0 auto;
    align-self: center;
    display: block;

}
.contact {
    text-align: center;
}
.contact a {
    text-decoration: none;
    color: white;
    transition: all 500ms;
}
.contact a:hover {
    font-size: 18px;
}
.general {
    text-align: center;
    padding: 20px 0 5px 0;
}
@media only screen and (min-width: 700px) {
    .topnav a:not(:first-child) {
        display: block;
    }
    .topnav {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .topnav a {
        float: left;
        display: block;
        margin: 0 auto;
    }
    .topnav a.icon {
        display: none;
    }
}

@media only screen and (min-width: 850px) {
    footer {
        display: grid;
        grid-template-columns: 200px 1fr 1fr;  
    }
    .logo-footer {
        padding: 0;
        align-self: center;
    }
    .logo-info {
        text-align: left;
    }
    .contact {
        text-align: left;
    }
    .general {
        grid-column: 1/4;
    }
}