@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans&display=swap');

#content {
    max-width: 1600px;
    margin: 0 50px;
}
img {
    width: 20%;
}
nav {
    text-align: center;
    box-shadow: 0 2px 15px gray;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li a {
    display: block;
    text-align: center;
    padding: .75rem;
    text-decoration: none;
    font-size: .95rem;
}

.heading {
    font-family: "Architects Daughter";
}
.paragraph {
    font-family: "Open Sans";
}
.accent p {
    background-color: #B1A7A6;
}
.first {
    background-color: #D3D3D3;
    padding: 10px;
}
.second {
    background-color: #660708;
    color: white;
    padding: 10px;
}
.third {
    background-color: #161A1D;
    color: white;
    padding: 10px;
}
.accent {
    background-color: #B1A7A6;
    padding: 10px;
}
@media only screen and (min-width: 700px) {
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
}
