/* grid-area, grid-template */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* header */

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 25px;
}
nav a {
    text-decoration: none;
    color: white;
    transition: all 500ms;
}
nav a:hover {
    font-size: 30px;
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top .3s;
    max-width: 1600px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 115px 1fr;
    background-color: #9A031E;
    padding: 10px;
}
header img {
    width: 100%;
    height: 100%;
    align-self: center;
    transition: all 500ms;
}
header img:hover {
    transform: scale(1.15);
}

/* home page body */

#main-grid {
    display: grid;
    grid-template-columns: repeat(10, 151px);
    column-gap: 10px;
    row-gap: 15px;
    margin: 15px auto;
    margin-top: 125px;
}
h1 {
    font-size: 50px;
    text-align: center;
    font-family: "architects daughter";
    text-shadow: 0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}
p {
    text-align: center;
    font-size: 35px;
    font-family: "open sans";
}
.landing-card a, .impact-card a {
    text-decoration: none;
    text-align: center;
    background-color: #E36414;
    color: white;
    font-size: 30px;
    padding: 20px;
    transition: all 500ms;
}
.landing-card a:hover, .impact-card a:hover {
    font-size: 35px;
    background-color: #FB8B24;
}
.landing-image {
    grid-column: 1/8;
    grid-row: 1/5;
    width: 100%;
    height: 575px;
}
.landing-card {
    grid-column: 8/11;
    grid-row: 1/5;
    background-color: #F8F0E3;
    text-align: center;
}
.impact-image {
    grid-column: 4/11;
    grid-row: 6/10;
    width: 100%;
    height: 575px;
}
.impact-card {
    grid-column: 1/4;
    grid-row: 6/10;
    background-color: #F8F0E3;
    text-align: center;
}
.map-image {
    grid-column: 1/11;
    grid-row: 11/15;
    width: 100%;
    height: 800px;
}

/* why us body */

#whyus-grid {
    display: grid;
    grid-template-columns: repeat(10, 151px);
    column-gap: 10px;
    row-gap: 15px;
    margin: 15px auto;
    margin-top: 125px;
}
.safety-image {
    grid-column: 1/8;
    grid-row: 1/5;
    width: 100%;
    height: 575px;
}
.safety-card {
    grid-column: 8/11;
    grid-row: 1/5;
    background-color: #F8F0E3;
    text-align: center;
}
.safety-card h1 {
    margin: 40px auto;
}
.fun-image {
    grid-column: 4/11;
    grid-row: 6/10;
    width: 100%;
    height: 575px;
}
.fun-card {
    grid-column: 1/4;
    grid-row: 6/10;
    background-color: #F8F0E3;
    text-align: center;
}
.affordability-card {
    grid-row: 11/12;
    grid-column: 1/11;
    text-align: center;
    margin-bottom: 20px;
}
.affordability-card h1 {
    margin: 30px auto 30px auto;
 
}
.affordability-card h2 {
    margin-bottom: 40px;
}
.affordability-card a {
    text-decoration: none;
    text-align: center;
    background-color: #E36414;
    color: white;
    font-size: 30px;
    padding: 20px;
    transition: all 500ms;
}
.affordability-card a:hover {
    font-size: 35px;
    background-color: #FB8B24;
}


/* footer */

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #9A031E;
    justify-items: center;
    align-items: center;
    padding: 10px;
}
footer:nth-of-type(1) {
    font-size: 15px;
    text-align: center;
}
footer h3 a {
    text-decoration: none;
    color: white;
    transition: all 500ms;
    font-size: 25px;
}
footer a:hover {
    font-size: 30px;
}