body {
    background-color: white;
    margin-right: 200px;
}
main {
    display: grid;
    grid-template-columns: 500px 1fr;
    font-size: 30px;
}
.graphic {
   grid-row: 1/5; 
   z-index: -1;
}
.heading {
    background-color: white;
}
.heading h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0;
    margin: 20px auto;
}
.heading h2 {
    font-weight: normal;
    font-size: 1.2em;
    text-align: center;
    margin: 0 50px;
}
.input {
    background-color: white;
    margin-top: 0;
}
.email, .name{
    display: block;
    height: 50px;
    font-size: 1em;
    margin: 10px 0px 10px 50px;
    padding-left: 10px;
    width: 85%;

}
.container {
    background-color: white;
    padding-left: 50px;
    margin-top: 0;
}
.subscribe {
    background-color: peru;
    width: 200px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin: 0 auto; 
    color: white;
    text-decoration: none;
}