body{
    margin: 0 auto;
    background-color: #737272;
}

.container img{
    width: 100%;
    height: 450px;
}

.text h1 {
    position: absolute;
    top: 180px;
    right: 50px;
    font-size: 60px;
    color: white;
}
.text p {
    position: absolute;
    top: 280px;
    right: 50px;
    font-size: 50px;
    color: white;
}
.bottom{
    background-color: #737272;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 50px 0px;
    padding-left: 170px;
    margin: 0 auto;
 
}
.bottom img{
    width: 250px;
    border: 12px solid #454445;
    border-radius: 250px;
   
}

